body{
	padding-left: 20px;
	padding-right:20px;
}

/* Header */
.active{
	padding: 10px;
	a{
		color: $orange;
	}
}

.floatright {
	float: right;
}
#nav {
	li{
	list-style: none;
	display: inline-block;
	margin-top: 20px;
	}
	a{
	text-decoration: none;
	color:$gray;
	padding: 10px 20px;
	font-size: 22px;
	}
}
/* logo */
.logo {
	h1 {
	color: $orange;
	}
	span {
	color:$orange;
	}
}
/* imagen06*/
.ei-slider-large{
	text-align: center;
}
/* service area*/
.single_service_container {
	margin-left: 20px;
	h5{
	color:$orange;
	}
	 a{
	color: $white;
	padding: 10px;
	background-color:$orange; 
	}
	.floatleft{
	margin: 20px;
	}
	.foto1{
		float: left;
		margin-right: 10px;
	}
}
.es{
	margin-bottom:45px;
}
/*fix*/
.fix{
	margin:20px;
	h4{
		color: $orange;
	}
	.foto2{
		float: right;
		width: 80%;
		height: 20px;
		margin-top:15px;
	}
	.blog_post_meta{
		padding-left: 10px;
		border: 1px solid #D8D8D8;
		 h6{
			color: $orange;
		}
			h5{
			color: $grismedio;
			font-size: 22px;
		}
  }
  .imagenblog {
	margin-bottom:-7px;
	width: 100%;
	}
}  


/*from work*/
.from_work{
	margin-top: 30px;
	.foto2{
		float: right;
		width: 60%;
		height: 20px;
		margin-top:15px;
	}
	.single_footer_container{
	background-color: $orange;
	color: $white;
	}
}
/*footer_area*/
.footer_area{
	color:whitesmoke;
	background-color: orange;
}
.single_footer_container{
	background-color: $orange;
	border-left: 10px solid $white;
	border-right: 10px solid $white;
}



/*PORTAFOLIO*/

.ei-slider-large h3{
	background-color: $orange;
	color: $white;
	text-align: left;
	padding-left: 30px;
	padding-bottom:20px;
}
.categorias {
	h5{
		color:$black;
	}
	float: left;
}
.active1{
	padding: 10px;
	color: $orange;
}
.image06 {
	width:100%;
}


/*BLOG*/

.blog{
	padding-right:20px;	
	h4, h6{
		color: $orange;
	}
}
.blog1{
	p{
		color:$grismedio;
	}
}
.foto3{
		float: right;
		width: 100%;
		height: 20px;
		margin-top:15px;
	}